# ignore everything, everywhere.
# under project root, include .gitignore.
# include README everywhere.
# include *.py everywhere except under project root.
/**
!/.gitignore
!README.md
!*.py
/*.py
!/saros/
!/saros/database
!/saros/test/
!/saros/temp/
