# ignore evrything except *.py anywhere, .gitignore & README under project root
# under /saros/temp/, include README, but none other.
# exclude exp.py under root
/**
!*.py
exp.py
!/.gitignore
!/README.md
!/saros/
!/saros/test/
!/saros/temp/
!/saros/temp/README.md
